<html>

<body>
    <div>
        <h1 inline="text">Welcome, Username!</h1>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Log Out"/>
        </form>
    </div>

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="text" name="text" placeholder="What's new?">
            <input type="text" name="tag" placeholder="tags">
            <button type="submit">Public post</button>
        </form>
    </div>

    <div> List of messages </div>
    <form method="post" action="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="filter" placeholder="Find by tag">
        <button type="submit">Search</button>
    </form>

    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <span>by {{getAuthorName}}</span>
    </div>
    {{/messages}}


</body>
</html>